@charset "utf-8";



*{
	margin: 0px;
	padding:0px;
	box-sizing:border-box;
	
}	
a{
	text-decoration: none;
	display: block;
}
ul{
	list-style: none;
}


html, body {
	width: 100%;
	height:100%;
	font-family: "Noto Sans", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-variation-settings: "wdth" 100;
    
}

/*==============================================================헤더*/
#wrap{
     width: 100%;
     height: 100%;
     /* background-color: blue; */
}
#header{
     width: 100%;
     /* background-color: yellow; */
}
#header > div:first-child{
     border-top: 1px solid #dadada;
     border-bottom: 1px solid #dadada;
     
}
.header_top{
     width:1200px;
     height:44px;
     margin: 0 auto;
     margin-top: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.header_top > div:last-child{
     margin-left: 10px;
}
.header_top > div li{
     float: left;
}
.header_top div li a{
     color:#3e3e3e;
     font-weight: 400;
}
.header_top div li a:hover{
     color:#000;
     font-weight: bold;
}

.header_top div:first-child li{
     line-height: 44px;
     padding:0 10px;
     letter-spacing: -1px;
    
}
.header_top div:last-child li{
     line-height: 44px;
     padding:0 5px;
     letter-spacing: -0.6px;
}
.header_top div:last-child li:first-child{
     height:15px;
}

.btn{
     width: 15px;
     height: 15px;
     background-color: red;
     content: "";
     cursor: pointer;
     background: url(https://www.dobong.go.kr/images/2023/main/arr_lang.png) no-repeat center;
     vertical-align: middle;
     border: none;
}

.lang span{
     font-size: 15px;
     color:#3e3e3e;
     font-weight: 300;
     cursor: pointer;
}




.header_mid{
     width:1200px;
     height:110px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}
.header_mid div{
     float: left;
}
.logo_mo {
     width: 150px;
     display: none;
}

.btn_mo{
     display: none;
}

#search{
     width:430px;
     height: 50px;
     border: 1px solid #b20000;
     border-radius: 25px;
     line-height: 110px;
     display: flex;
     flex-wrap: wrap;
     justify-content:space-around;
     align-items: center;
}
input[type="search"]{
     width:350px ;
     border: none;
     
}
input[type="search"]:focus{
     outline: none;
}
#nav{
     width: 100%;
     height:60px;
     background-color: #b20000;
}
.nav_menu{
     width:1200px;
     line-height: 60px;
     margin: 0 auto;
     
}
.menu:first-child{
     text-align: left;
}
.menu:first-child span:first-child{
     width:60px;
     height:60px;
     background-color: #000;
     float: left;
    
}


.burger{
     width:25px;
     height:2px;
     display:block;
     position: absolute;
     background-color: white;
     margin: 18px;
}
.burger:nth-child(2){
     margin-top: 28px;
}
.burger:nth-child(3){
     margin-top: 38px;
}

.menu a{
     width:171px;
     color:white;
     font-size: 1.2em;
     font-weight:500;
     text-align: center;
     float: left;
     letter-spacing: -0.06em;
}
.menu a:hover{
    
     color:white;
     font-weight:bolder;
     border-bottom: 2px solid white;
}
/*==================================================================메인*/
#main{
     width:100%;
     height:3100px;
    
}

.main_01{
     width:1200px;
     margin: 0 auto;
     padding-top: 90px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.btn_3{
     width: 100%;
     display: none;
     margin-top: 20px;
    
}

.damwha_mo{
    
     float: left;
     width: 48%;
     border: none;
     border-radius: 10px;
     background-color: #BDE4F8;
     cursor: pointer;
}
.damwha_mo a img{
     height: 100%;
}
.sns_right_mo a img{
     height: 100%;
}
.sns_right_mo{
     float:right;
     width: 48%;
     border: none;
     border-radius: 10px;
     background-color: #E6E6E6;
     cursor: pointer;
}
.winter_mo a img{
     height: 100%;
}
.winter_mo{
     /* display: none; */
     width: 100%;
     height: auto;
     border: none;
     border-radius: 10px;
     background-color: #AEC8FE;
     cursor: pointer;
     margin-top: 20px;
}
.winter_mo img{
     height: auto;
     vertical-align: top;
}
.ceo{
     width:586px;
     height: 379px;
     background-color: azure;
     float: left;
     border-radius: 10px;
     border: 1px solid #e1e1e1;
     overflow: hidden;
}
.ceo > img{
     width: 100%;
}

.slide{
     width:586px;
     height: 379px;
     float: right;
     border-radius: 10px;
     border: 1px solid #e1e1e1;
     overflow: hidden;
}
.slide_pan{
     width: 100%;
}
.slide_pan .pan01{
     width:1000%;
     position: relative;
     /* transition:2s; */
     
}
.slide_pan .pan01 div{
    
     height: 100%;
     float: left;
}
.pan01 div img{
     width: 100%;
     height: 100%;
}

#main .info{
     width:1200px;
     margin: 0 auto;
     padding-top: 25px;
     padding-bottom: 70px;
     display: flex;
     flex-wrap: wrap;
     justify-content:space-between;
     gap: 1rem;
}
#main .info > div{
     width:18.5%;
     height:133px;
     border-radius: 13px;
     float: left;
}
.info> div a{
     /* width:225px; */
     height: 133px;
     padding: 15px 25px;
     font-size: 20px;
     font-weight: bold;
     color: #000;
     letter-spacing: -0.06em;
}
.info .arr{
     display: inline-block;
     background: url(https://www.dobong.go.kr/images/2023/main/arrow_gray.png) no-repeat center;
     width: 23px;
     height: 16px;
     margin-left: 1px;
     transition: transform .3s;
}
.info div:first-child{
     background: #ffceca url(https://www.dobong.go.kr/images/2023/main/info05_bg_icon_new.png) no-repeat ;
     background-size: 100%;
}
.info div:nth-child(2){
     background: #ffdeb5 url(https://www.dobong.go.kr/images/2023/main/info01_bg_icon_new.png) no-repeat ;
     background-size: 100%;
}
.info div:nth-child(3){
     background: #ffceca url(https://www.dobong.go.kr/images/2023/main/info02_bg_icon_new.png) no-repeat ;
     background-size: 100%;
}
.info div:nth-child(4){
     background: #ffdeb5 url(https://www.dobong.go.kr/images/2023/main/info03_bg_icon_new.png) no-repeat ;
     background-size: 100%;
}
.info div:last-child{
     background: #ffceca url(https://www.dobong.go.kr/images/2023/main/info04_bg_icon_new.png) no-repeat ;
     background-size: 100%;
}
.service{
     width:100%;
     background-color: #fff7f4;
     
     
}

.service_01{
     width:1200px;
     height:300px;
     margin:0 auto ;
     position: relative;
}
.pan{
     width:calc(100% - 130px);
     height:300px;
     margin:0 auto;
     overflow: hidden;
    
}

.service_btn_prev{
     width:15px;
     height: 15px;
     border: none;
     position: absolute;
     top:0px;
     left: 0px;
     transform: translate(0, 770%);
     background: url(https://www.dobong.go.kr/images/2023/main/arr2_left_on.png) no-repeat center ;
    
}
.service_btn_next{
     width:15px;
     height: 15px;
     border: none;
     position: absolute;
     top:0px;
     right: 0px;
     transform: translate(0, 770%);
     background: url(https://www.dobong.go.kr/images/2023/main/arr2_right_on.png) no-repeat center ;
     
}
.service_01 > button:focus{
     outline: none;
}
.service_pan{
     width: 3600px;
     height:300px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap:1em;
     /* background-color: #ffdeb5; */
     
}

.service_01 li {
    width: 4.6%;
     height:171px;
     margin: 65px auto;
     text-align: center;
     font-size: 15px;
     font-weight: 600;
     line-height: 18.25em;
     float: left;
}
.service_box a{
     width:111px;
     height:111px;
     margin: 0 23px;
     /* background-color: #5fff03; */
     border-radius: 15px;
     float: left;
    
}
.service_01 a{
     color:#000;
}

.service_box:first-child a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service01.jpg) no-repeat;
     background-size: auto;
}   
.service_box:first-child a::before{
     content: "채용공고";
}  
.service_box:nth-child(2) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service02.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(2) a::before{
     content: "청년정책";
}
.service_box:nth-child(3) a{
     background: white url(	https://www.dobong.go.kr/images/2023/main/service08_1.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(3) a::before{
     content: "재건축재개발";
}
.service_box:nth-child(4) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service21.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(4) a::before{
     content: "동물복지";
}
.service_box:nth-child(5) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service03.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(5) a::before{
     content: "부서안내";
}
.service_box:nth-child(6) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service04.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(6) a::before{
     content: "동·주민센터 안내";
}
.service_box:nth-child(7) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service07.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(7) a::before{
     content: "분야별 민원";
}
.service_box:nth-child(8) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service02.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(8) a::before{
     content: "민원서식";
}
.service_box:nth-child(9) a{
     background: white url(	https://www.dobong.go.kr/images/2023/main/service08_1.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(9) a::before{
     content: "민원상담/신고";
}
.service_box:nth-child(10) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service21.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(10) a::before{
     content: "행정자료실";
}
.service_box:nth-child(11) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service03.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(11) a::before{
     content: "대형폐기물 신청";
}
.service_box:nth-child(12) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service04.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(12) a::before{
     content: "칭찬합시다";
}
.service_box:nth-child(13) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service07.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(13) a::before{
     content: "복지로 바로가기";
}
.service_box:nth-child(14) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service02.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(14) a::before{
     content: "우수제안사례";
}
.service_box:nth-child(15) a{
     background: white url(	https://www.dobong.go.kr/images/2023/main/service08_1.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(15) a::before{
     content: "구민제안";
}
.service_box:nth-child(16) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service21.png) no-repeat;
     background-size: auto;
}
.service_box:nth-child(16) a::before{
     content: "심폐소생술교육";
}
.service_box:nth-child(17) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service03.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(17) a::before{
     content: "소형폐가전";
}
.service_box:nth-child(18) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service04.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(18) a::before{
     content: "유통정보";
}
.service_box:nth-child(19) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service07.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(19) a::before{
     content: "노인일자리";
}
.service_box:nth-child(20) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service07.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(20) a::before{
     content: "도봉구 일자리플러스 센터";
}
.service_box:nth-child(21) a{
     background: white url(https://www.dobong.go.kr/images/2023/main/service07.jpg) no-repeat;
     background-size: auto;
}
.service_box:nth-child(21) a::before{
     content: "일자리 정책";
}
.service_btn prev::before{
     background: url(https://www.dobong.go.kr/images/2023/main/arr2_left_on.png);
}
.board{
     width:1200px;
     height: 428px;
     margin: 0 auto;
     position: relative;
}


.board_title{
     width: 1200px;
     float: left;
}
.board_title::after{
     clear: both;
     content: "";
     display: block;
}

.board_title li{
     height:50px;
     font-size: 20px;
     font-weight: bold;
     float: left;
     line-height: 50px;
}

.board_title li:nth-child(-n+2){
     margin-right: 60px;
}

.board .go_more{
     font-size: 14px;
     color: #000;
     display: block;
     height: 1.2em;
     line-height: 1.1em;
     position: absolute;
     top:15px;
     right: 17px;
     float: left;
     font-weight: 600;
}

.board .go_more span{
     position: absolute;
     top:0px;
     left: 80px;
}

.board_cont{
     width: 100%;
     height: 270px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 1em;
     position: absolute;
     top: 87px;
}
.board>div:nth-child(3){
     z-index: 88;
}
.board >div:nth-child(4){
     z-index: 87;
}
.board> div:nth-child(5){
     z-index: 86;
}

.contents {
     width:23%;
     height:261px;
     background-color: white;
     border-radius: 15px;
     float: left;
     /* margin-bottom: 70px; */
     padding: 45px 25px 25px ;
     position: relative;
}
.contents .contents_title{
     font-size: 18px;
     font-weight: 600;
     margin: 0 0 15px;
     overflow: hidden;
     text-overflow: ellipsis;
     height: 44px;
     line-height: 1.2em;
     color: #000;
     letter-spacing: -0.08em;
     word-break: keep-all;
}
.contents .description{
     font-size: 14px;
     font-weight: 600;
     margin: 0 0 15px;
     overflow: hidden;
     text-overflow: ellipsis;
     height: 71px;
     line-height: 1.7em;
     color:#767676;
     letter-spacing: -0.06em;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
}
.contents .date{
     display: inline-block;
     height: 10px;
     line-height: 10px;
     padding:0 0 45px;
     font-size: 12px;
     color: #767676;
     font-weight: 400;
}
.link_more{
     display: block;
     height: 1.2em;
     width: 1.1em;
     background: url(https://www.dobong.go.kr/images/2023/main/icon_more.png) no-repeat center;
     background-size: auto;
     position: absolute;
     top: 10px;
     right: 10px;
     transition:all .3s;
}
    

.filed{
     width:1200px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content:space-between;
     gap: 1em;
     margin-top: 45px;
}


.filed_01{
     width:590px;
     height: 28px;
     /* background-color: #ffceca; */
     float: left;
     position: relative;
}



.filed_01 .title > span{
     font-size: 20px;
     font-weight: 700;
     float: left;
}
.filed_01 .title > .go_more{
     display: block;
     font-size: 14px;
     line-height: 1.7em;
     position:absolute;
     top:0px;
     right: 17px;
     color: #000;
     font-weight: 600;
}
.filed_01 .title > a.go_more >span{
     display: block;
     font-size: 14px;
     line-height: 1.7em;
     position:absolute;
     top:4px;
     left: 80px;
     color: #000;
}

.filed_con {
     width:283px;
     /* height:261px; */
     /* background-color: rgb(247, 37, 37); */
     border-radius: 15px;
     float: left;
     margin-left: 3px;
     margin-bottom: 70px;
     overflow: hidden;
     border: 1px solid #e1e1e1;
    
     
}
.filed_con .img_box{
     width: 100%;
     height: 186px;
     background-color:aquamarine;
     overflow: hidden;
     position: relative;
    
}
.img_box img{
     position: absolute;
     top: 0px;
     left: 0px;
     vertical-align: top;
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: transform .3s;
   
}
.filed_con .text_box{
     width:285px;
     height:119px;
    
     padding: 20px 25px;
}

.filed_con .date{
     display: inline-block;
     height: 10px;
     line-height: 10px;
     /* padding:0 0 45px; */
     font-size: 14px;
     color: #767676;
     font-weight: 400;
}
.filed_con .contents_title{
     font-size: 18px;
     font-weight: 600;
     margin-top: 4px;
     overflow: hidden;
     text-overflow: ellipsis;
     height: 44px;
     line-height: 1.2em;
     color: #000;
     letter-spacing: -0.05em;
     word-break: keep-all;

}
.filed_02{
     width:600px;
     float: left;
     display: flex;
     flex-wrap: wrap;
     justify-content:flex-end;
     gap: 1.5em;

}
.filed_02 span{
     width:300px; 
     float: left;
}
.filed_02 a{
     float: right;
}
.news{
     width:1200px;
     height: 290px;
     margin: 0 auto;
     flex-wrap: wrap;
     display: flex;
     justify-content:space-between;
     gap: 1em;
     position: relative;
}
 .news > div:first-child{
     width: 1200px;
    
    
} 
 .news .go_more{
     color: #000;
     position: absolute;
     top: -45px;
     right: 17px;
     font-size: 14px;
     font-weight: 600;
} 
 .news .go_more span{
     position: absolute;
     top:0px;
     left: 80px;
}
.news_01{
     width:285px;
     height:290px;
     float: left;
     border-radius: 15px;
     background-color:#94c6bb;
     position: relative;
}
.news_01 img{
     width: 66%;
     overflow: hidden;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
 
}
.news .info_01{
     width:285px;
     height:290px;
 
}
.news .info_01 .arr{
     display: inline-block;
     background: url(https://www.dobong.go.kr/images/2023/main/arrow_gray.png) no-repeat center;
     width: 10px;
     height: 16px;
     margin-left: 1px;
     transition: transform .3s;
}

.news .info_01 div a{
     /* width:300px; */
     /* height: 133px; */
     font-size: 20px;
     font-weight: bold;
     color: #000;
     letter-spacing: -0.06em;
}

.news .info_01 div:first-child{
     width:100%;
     height:135px;
     margin-top: 0px;
     border-radius: 15px;
     color:#3f3f3f;
     background-color: rgb(100, 57, 2);
     background: url(https://www.dobong.go.kr/images/2023/main/ebook_bg_03.png) no-repeat top center / cover;
     /* background-size: 100%; */
     font-size: 20px;
     font-weight: 600;
     text-align: center;
}
.news .info_01 div:nth-child(2){
     width:100%;
     height:135px;
     border-radius: 15px;
     margin-top: 1em;
     color:#3f3f3f;
     font-size: 20px;
     font-weight: 600;
     text-align: center;
     background-color: rgb(255, 72, 0);
     background: url(https://www.dobong.go.kr/images/2023/main/reporter_bg_01.png) no-repeat top center / cover;
     /* background-size: 100%; */
}
.news_slide{
     width:586px;
     height:290px;
     float: left;
     border-radius: 15px;
     background-color: rgb(7, 148, 148);
     overflow: hidden;
     
}
.news_pan{
     width: 100%;
}
.news_pan .news_pan01{
     width:1000%;
     position: relative;
     transition:2s;
     
}
.news_pan .news_pan01 > div{
     width: 10%;
     height: 100%;
     float: left;
}
.news_pan{
     width:100%;
     background-color: green;
}
.news_pan01 div img{
     width:100%;
     height: 100%;
}
.sns_img{
     width: 100%;
     /* background-color: khaki; */
     background: url(https://www.dobong.go.kr/images/2023/main/photo_news_bg.jpg) no-repeat center bottom;
     padding-bottom: 50px;
}
.sns{
     width:1200px;
     height:490px;
     /* background-color: rgb(205, 205, 255); */
     margin: 0 auto;
     margin-top: 50px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap:1em;
     
}
.sns_title{
     width:100%;
     height:25px;
     font-size: 20px;
     color: #000;
     font-weight: 600;
}
.sns_01{
     width:590px;
     height:392px;
     float: left;
     overflow: hidden;
     border-radius: 15px;
     border: 1px solid #333;
}
.sns_01:hover iframe{
     scale: 135%;

}

.sns_02{
     width:590px;
     height:392px;
     background-color: white;
     border-radius: 15px;
     float: left;
     border: 1px solid #e1e1e1;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     
}
.sns_icon{
     width:47%;
     height:90%;
     margin-top: 20px;
     float: left;
}
.sns_icon div{
     width: 100px;
     height:117px;
     float: left;
     margin: 0 -10px;
     padding: 0 20px 20px;
     text-align: center;
}
.sns_icon div a{
     font-size: 14px;
     margin-top: 10px;
     color: #6f6e6e;
     line-height: 1.15;
     font-weight: 600;
}
.sns_icon div a span{
     display: block;
     width: 60px;
     padding-top: 10px;
     letter-spacing: -2px;
}

.sns_right{
     width:47%;
     height:288px;
     margin-top: 20px;
     float: left;
     border-radius: 15px;
     overflow: hidden;
}
.sns_right img{
     width:100%;
     height:100%;
}
.snshover{
     width: 100%;
     height: 295px;
     position: relative;
     top: -307px;
     background-color:rgba(0,0,0,0.5);
     display: none;
    

}
.snshover::after{
     content: "";
     width: 80px;
     height: 80px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: url(https://www.dobong.go.kr/images/2023/main/icon_more_sns.png);
     
     transition: opacity .8s;
}
.site{
     width:1200px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: left;
     margin-bottom: 70px;
}
.site_section{
     height:100px;
     margin-top: 50px;
}
.site_section .name{
    
     height:50px;
     float: left;
     line-height: 50px;
     font-size: 20px;
     font-weight: bold;
     color:#333;
     text-align: center;

}

.site_section .name:nth-child(-n+4){
     margin-right: 60px;
}
.site li a{
     font-size: 20px;
     font-weight: bold;
     color:#333;
     text-align: center;
}
.site_box{
     width:100%;
     height:100px;
     background-color: rgb(245, 245, 245);
     border-radius: 15px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     gap:1em;
     margin: 0 auto;
     
}
.site_box_00 li{
     float: left;
     top:40px;
}
.site_box_00 li a{
     font-size: 16px;
     font-weight: 600;
     color:#333;
     text-align: center;
     padding: 0px 20px;
}
.site_box_00 a:hover{
     font-weight: 900;
     color:#000000;
}
.site_box_00:first-child li:nth-child(-n+5){
     border-right: 1px solid #666;
}
.site_box_00:first-child{
     position: absolute;
     transform:translate(0px, 200%);
 }
.site_box_00:nth-child(2){
     position: absolute;
     transform:translate(0px, 200%);
     display: none;
}
.site_box_00:nth-child(2) li:nth-child(-n+5){
     border-right: 1px solid #666;
 }

.site_box_00:nth-child(3){
     position: absolute;
     transform:translate(0px, 200%);
     display: none;
}
.site_box_00:nth-child(3) li:nth-child(-n+3){
     border-right: 1px solid #666;
 }
.site_box_00:nth-child(4){
     position: absolute;
     transform:translate(0px, 200%);
     display: none;
 }
 .site_box_00:nth-child(4) li:nth-child(-n+2){
     border-right: 1px solid #666;
     
 }
 .site_box_00:last-child{
     position: absolute;
     transform:translate(0px, 200%);
     display: none;
 }
 .site_box_00:last-child li:nth-child(-n+5){
     border-right: 1px solid #666;
 }



/*======================================================================푸터*/

#footer{
     width:100%;
     position:relative;
     border-top:1px solid #333 ; 
}
.family_site{
     width: 1200px;
     height:60px;
     margin: 50px auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap:1em;
}   

.depth01{
     width:225px;
     height:50px;
     border: 1px solid #333;
     border-radius:15px;
     font-size: 0.95em;
     line-height: 50px;
     letter-spacing: -1.2px;
     text-align: left;
     padding-left: 13px;   
     position: relative;
     cursor: pointer;
     font-weight: 400;
     
} 
.depth01 a{
   color:#333;
   
   white-space: normal;

} 
.depth01>span{
     width:15px;
     height: 50px;
     display: block;
     position: absolute;
     top:0px;
     right:0px;
     transform: translate(-20px, 41%);
     background: url(https://www.dobong.go.kr/images/2023/main/arr_down.png) no-repeat;     
}
.depth02{
     background: #fff;
     border: 1px solid #ccc;
     max-height: 144px;
     overflow-y: auto;
     border-radius: 10px;
     margin-left: -14px;
     display: none;
}
.depth02::-webkit-scrollbar{
     width:8px;
}
.depth02::-webkit-scrollbar-thumb{
    height: 40%;
    background: #ccc;
    border-radius: 10px;
}
.depth02::-webkit-scrollbar-track{
    background: #eee;
    border-radius: 10px;
}
.depth02 a{
    display: block;
    height: 100%;
    padding: 0px 14px;
    border: 1px solid #e6e6e6;
    font-size: 0.9em;
    color: #000;

}
.footer_info{
     width:100%;
     border-top:1px solid #333 ;
}
.footer_logo{
     width:1200px;
     height: 100px;
     margin: 0 auto;
     line-height: 100px;
}

.footer_info_area{
     width: 1200px;
     height: 178px;
     margin: 0 auto;
}
.info_link{
    width: 1200px;
    height:60px;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
   
}
.info_link li{
     float: left;
     margin-left: -2px;
     height:15px;
     line-height: 15px;
     
}
.info_link li a{
     color:#333;
     font-size: 16px;
     font-weight: 600;
     padding-right:10px;
     letter-spacing: -1px;
 
}     
.info_link li:nth-child(2) a{
     font-weight:bold;
     font-size: 17px;
     color: black;
}
.info_link li:nth-child(3) a{
     font-weight: bold;
     color:red;
     font-size: 17px;
}
.info_link li:nth-child(-n+8){
     border-left:1px solid rgb(102, 102, 102) ;
}

.info_link li:nth-child(-n+8){
   
     padding-left:10px;
}
.info_link li:first-child{
   
     padding-left:0px;
     border: none;
}

.add{
     width: 1200px;
     display: flex;
     flex-wrap: wrap;
     justify-content:left;
}
.add li{
     float: left;
     font-size: 16px;
     font-weight: 500;
}
.add li:nth-child(1){
     height:15px;
     border-right:1px solid rgb(102, 102, 102) ;
     padding-right: 10px;
     line-height: 15px;
}
.add li:nth-child(2){
     padding-left: 10px;
     height:15px;
     line-height: 15px;
}
.utill_box{
     width: 1200px;
     height: 75px;
     margin: 0 auto;
     position: relative;
     top: 30px;
     left: 0px;
}
.utill_box div:first-child{
     width:252px;
     height:32px;
     border: 1px solid #838383;
     border-radius: 10px;
     float: left;
}

.utill_box div:first-child li{
     float: left;
     margin-left: 10px;
     line-height: 32px;
     font-weight: bold;
}
.utill_box div:last-child{
     width:30px;
     height:32px;
     border: 1px solid #838383;
     border-radius: 10px;
     float: left;
     text-align: center;
     line-height: 30px;
     margin-left: 10px;
     
}
.wa{
     width: 200px;
     height: 100px;
     position: absolute;
     top:295px;
     right: 217px;
     
}
.wa li{
     width: 100px;
     height:69px;
     float: left;
}
.wa li img{
     width: 90%;
     
    
}

/* 오른쪽 배너  */

.right_button{
     width:190px;
     position: absolute;
     top: 695px;
     right:120px;
     z-index: 66;
     
}
.right_button div:first-child{
     position: absolute;
     top: -631px;
     right: 24px;

}
.right_button button[type="button"]{
     position: absolute;
     width: 100%;
     top:-450px;
     left:0px;
     height:50px;
     background: url(../img/img_damhwa.png);
     border-radius: 20px;
     border:0px;
}

.right_button .sns_icon{
     width:190px;
     height: 540px;
     position: absolute;
     top:-400px;
     border:1px solid #e1e1e1;
     padding:30px 10px;
     border-radius: 15px;
     text-align:center ;
}

