/*=============================================================================반응형*/


@media screen and (max-width:1260px) {
    .right_button{
         display: none;
    }
   
}
@media screen and (max-width:1259px) {
  .header_top, .header_mid, .nav_menu,  .main_01, .info, .main, 
  .service_01, .board_title, .filed, .filed_02, .sns,
  .site, .site_box, .family_site, .footer_logo, .footer_info_area, .info, .info_link, 
  .add,.utill_box, .pan, .filed{
       width: 95%;
  }
  .ceo, .slide, .filed_01{
    width: 49%;
    }
    .board_cont  .contents,.filed_con{
         width:23%;
    }
    .news {
         width: 94% ;
    }
    .news_slide{
         width: 45%;
    }

    .sns_01, .sns_02{
         width: 49%;
    }

    .depth01{
         width: 18%;
    }
    /* .news > div:first-child,.info_div, , .news_pan .news_pan01>img{
         width:75%;
    } */



    .board{
         width:90%;
    }
    .board_cont{
         width: 100%;
    }
    .wa{
         width: 100%;
         left: 940px;
    }
   
}

@media screen and ( max-width:1200px){
    
   .board_cont, .filed{
    width: 98%;
   }
   .news_slide{
         width: 40%;
   }

   .pan{
    width: 83%;
    }


    .news .info div:first-child{
         height: 80%;
    }
    .news .info div:nth-child(2){
         height: 80%;
         margin-top: -13px;
    }

  
    .depth01{
         white-space: normal;
    }

}



@media screen and (max-width:1120px) {
    .header_top, .header_mid, .nav_menu,  .main_01, .info, .main, 
    .service_01, .board, .board_title, .filed,.filed_02, .news, .sns, 
    .site, .site_box, .family_site, .footer_logo, .footer_info_area, 
    .utill_box, .depth01{
         width: 95%;
    }
    #nav{
         display: none;
    }
    .header_mid{
         position: relative;
    }
    .header_mid div:first-child{
         width: 100%;
         height: 80px;
         justify-content: space-between;
    }
    .header_mid div:nth-child(3){
         width: 100%;
         height: 60px;
         justify-items: center;
    }
    .logo2{
         display: none;
    }
    .logo{
         float: left;
         display: block;
         position: absolute;
         top:0px;
         left: 0px;
         transform: translate(0%, 125%);
    }
    .logo_mo{
         float: left;
         display: block;
         position: absolute;
         top:0px;
         left: 0px;
         transform: translate(268%, 50%);
    }
    .btn_mo{
         float: left;
         display: block;
         position: absolute;
         top:0px;
         right: 0px;
         transform: translate(0%, 125%);
         border: none;
    }
    .damwha_mo, .sns_right_mo{
         display: block;
         width: 49%;
    }
    .news{
         gap: 0px;
    }
    .news_01{
         width: 247px;
         height: 90%;
    }
    .news > .info{
         width: 29%;
         height: 90%;
    }
    .news_slide{
         width: 45%;
         height: 90%;
    }
    .news .info div:first-child{
         height: 80%;
    }
    .news .info div:nth-child(2){
         height: 80%;
         margin-top: -13px;
    }
    
    .header_top, .bokjiro, .brandsong{

         display: none;
    }

    .sns_01, .sns_02 {
         height: 100%;
     }
   
  
     .sns_img{
         padding-bottom: 100px;
     }
    .footer{
         position: absolute;
         top:500px;
    }

    .utill_box {
          display: none;

    }
         
    .family_site{
         height: 120px;
         display: flex;
         justify-content: flex-start;
    }
    .depth01{
         width: 32%;
         
    }
    .footer_logo{
         text-align: center;
         height: 70px;
       
    }
    .info_link, .add{
         height: 40px;
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin-left: auto;
         
    }
    .add li{
         float: none;
    
    }
    .add li:nth-child(1) {
         height: 23px;
         border: none;
         margin-left: auto;
    }
    
    .add li:nth-child(2) {
         height: 23px;
         padding-left: none;
         margin-left: auto;
    }

    .depth02{
         position: relative;
         z-index: 77;
         background-color: white;
    }
   
    .info_link li a{
         font-size: 15px;
         letter-spacing: -1.8px;
    }
    .copy{
         text-align: center;
    }
    .wa{
         position: static;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 3rem;
         flex-direction: column;
        
    }
    .wa li{
         width: 90px;
    }
}

@media screen and (max-width:1050px){
    .news > .info {
         width: 27%;
    }

}

@media screen and (max-width:1020px) {
    .news01{
         height: 80%;
    }
    .news > .info {
         width: 27%;
    }
}
@media screen and (max-width:956px) {
   
    .ceo ,  .slide, .slide_pan, .pan01, .info_div{
         width:49%;
         height: 277px;
    } 
    .ceo>a>img {
         max-width: 100%;
         
    }
    .pan01 > div > img{
         min-height: auto;
         height: 100%;
    }
    .info_div {
         background-size:100%;
    }
    .filed div:nth-child(4), .filed div:nth-child(6){
         display: none;
    }
    .filed_con{
         width: 47.5%;
    }
    .img_box > img{
         width: 100%;
    }
    .news_01{
         width: 24%;
         height: 80%;
    }
    .news .info{
         width: 24%;
         height: 80%;
    }
    .news .info div:nth-child(2) {
         margin-top: 2px;
     }
     .news .slide .news_pan{
         height: 80%;
    }
    .news .info div a span{
         width: 300px;
         height: 133px;
         text-align: center;
         font-size: 16px;
         font-weight: bold;
         color: #000;
         letter-spacing: -0.06em;
         margin-right: 64px;
     }

     .news .info .arr{
         background-size: 80%;
     }
     .info_link li  a, .info_link li:nth-child(2) a, .info_link li:nth-child(3) a,
     .add, copy {
         font-size: 15px;
     }

  
}